*{
    border: 1px solid red;
}

/* Global */
#content {
    height: 100svh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* transition: all 0.3s ease; Smooth transition for all properties */

}

/* Header contents */
header{
    height: fit-content;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

}

#logoContainer{
    grid-column: 1/2;
    width: fit-content;

    display: flex;
}
#searchContainer{
    grid-column: 2/3;
    width: fit-content;
}
#tempUnits{
    grid-column: 3/4;
    width: fit-content;
}
/* Main contents */
main{
    /* Setting up positioning */
    height: auto;
    grid-row: 2/3;
    /* container manipulation */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    align-items: center;

}

/* Current day card info */

#currentDayCard{
    width: 100%;
    /* Setting position in main */
    grid-column: 2/3;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#dayMainInfo{
    
    display: flex;
    flex-direction: column;
}

#daySunriseSunset{
    display: flex;
    justify-content: space-around;
}
.sun{
    display: flex;
    flex-direction: column;
}

#dayAdditionalInfo{
    display: flex;
    flex-direction: column;
}

/* Following days */

#followingDays{
    /* Setting position in main */
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
    justify-content: space-evenly;
}

.forcastCard{
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Footer contents */
footer{
    height: fit-content;
    grid-row: 3/4;
}